### QF 625 Introduction to Programming

## Lesson 01 | An Informative `Introduction` to Python and Jupyter Notebook | `RE`view

> Thank you for opening up this script file.

> It would be best if you consider the codes you type here as a new language to communicate with your machine. As long as you provide a complete message in this language, your machine will deliver a reply.

### *Why would you use Python?*

* Automate and document routine work (Efficiency)
* Analyze data in a replicable, documented way (Reproducibility of Your Analysis of Data)
* Integrates with other language
* Open source
* It's easy to learn and use!

Open Terminal on a Mac or CMDR or other bash shell on Windows.

- Type: python (you'll get a python command line, >>>)

- Type: 2+3

- Type: import this

- Type: CTRL+d

OK, you could do stuff in there all day.

Or you could put code in a text file with the .py extension and run it from the command line (python_filename.py).

But we're going to use **Jupyter Notebook.**

### *Why use Jupyter Notebook?*

* Test your code line by line
* Rewrite it immediately when you err (and you will err)
* You can document/explain more extensively using markdown (what you're reading here)
* Reuse, reuse, reuse

### Commands (Functions)

In [1]:
2 + 3

5

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
print something

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(something)? (<ipython-input-3-f2fc969f94c2>, line 1)

### Note that to err is expected.

> Bummer! That didn't work.

> But this is the first of many errors you (and especially) will make in Python. In part, because we are typing (check the number of times i type pring instead of print). Also, because it's complicated.

#### ***So a few quick error tips:***

1. Proofread your code like a copy editor. Errors often result from misspellings, misplaced punctuation, etc.
2. Google the error message + Python
3. Use [stackoverflow.com](https://stackoverflow.com/) to search the error message or ask questions.
4. So let's try using some quotes and parentheses around that word instead.

In [4]:
print("something")

something

In [5]:
print(2+3)

5

### Comments (Annotations to Your Commands)

Basically, anything that is written without a hashtag in the beginning is a command (code). 

Anything with a hashtag is a comment. Anything that is followed by a hashtag is not recognized in Python. 

The comment is for communication between me and you. The code is for communication between you and your machine.

In [6]:
print("Hello Team, Welcome to QF 625!") # The print() function in a Python script explicitly prints the output. It is time to write your first line of Python code with and without the print() function to observe how it impacts the output of a script.

Hello Team, Welcome to QF 625!

> Since we are trying to interact with our machine, one important thing is to think and write your commands in line with the way your machine understand. 

> Your machine won't know what you wish to command with even simple calculation like 1 + 1, without knowing **data types**.

In [7]:
1 + 1

2

In [8]:
"1" + "1"

'11'

### Data Types

Data types are important in Python. 

- **Strings** generally text or things you won't do math on (like zip codes)--get quote marks around them. 

- **Numerals** don't get quotes, and come in two types: namely, `floats` (floating-point, decimal) and `integers`. 

- Then there's **Boolean,** a `True`/`False` type.

But rarely will we simply type in some numbers to add, subtract, multiply and/or divide. 

Calculators work for that.

Programming in Python (or any language, really) works by creating building blocks to achieve our goals.

### Variables

The first of these blocks is a variable. 

And it's pretty straightforward: variable_name = "some type of info".

### Variable Names 

- Names can be upper or lower case letters, digits, and underscores.
- Variables `CANNOT` ***start with a digit.***
- Some variable names are reserved in Python (e.g., class or type) and should beavoided (We will get back to this).

In [9]:
my_string = "I'm learning Python!"
print(my_string)

I'm learning Python!

In [10]:
string_to_fix = 'I\'ll use it for extracting, wrangling, managing, and analysis my data.' 
# Here, remember the backward slash (\)
print(string_to_fix)

I'll use it for extracting, wrangling, managing, and analysis my data.

In [11]:
my_string + " " + string_to_fix

"I'm learning Python! I'll use it for extracting, wrangling, managing, and analysis my data."

Note that it doesn't really matter whether you use single or double quotes. 

If you have questions about this or other Python style, consult [here](https://www.python.org/dev/peps/pep-0008/) 

It's the Style Guide for Python.

Here's how you would create variables for integers, floats and Booleans.

In [12]:
integers = 5

In [13]:
floaty = 4.5

In [14]:
my_bool = True

Let's learn some useful hotkeys for working efficiently on Jupyter Notebook.

In [15]:
# Play around with these, try combining them to see what happens. Try multiplying them or dividing them.

In [16]:
my_bool = True

In [17]:
integer/string2
# Try to identify types of errors

NameError: name 'integer' is not defined

In [18]:
my_string*5

"I'm learning Python!I'm learning Python!I'm learning Python!I'm learning Python!I'm learning Python!"

In [19]:
integers/floaty

1.1111111111111112

In [20]:
floaty/integers

0.9

In [21]:
my_bool

True

> Let's assess stock trends with fictious variables.

In [22]:
price = 200
earnings = 4
pe_ratio = price / earnings
print(pe_ratio)

50.0

> What data type is a variable? 
> Let's get the type of an object.
> To identify the type, we can use the function `type()`

In [23]:
type(pe_ratio)

float

> What if you wish to change variable types?

> What if you want to print "Price to earning ratio is 50.0"?

> Note that you `cannot directly combine floats with strings`.

> If you wish to print combination of floats and strings, you should `convert the floats to strings` first.

In [24]:
pe_str = str(pe_ratio)

In [25]:
type(pe_str)

str

In [26]:
print("Price to earning ratio is" + " " + pe_str)

Price to earning ratio is 50.0

> How would you be able to switch the following two variables?

In [27]:
v1 = "first string"
v2 = "second string"

In [28]:
x = v1
v1 = v2
v2 = x

In [29]:
print(v1);print(v2)

second string
first string

### Strings

>Let's create a string and assign it to a variable.

In [30]:
my_string = "We're going to learng Python in QF 625!"

In [31]:
my_string

"We're going to learng Python in QF 625!"

In [32]:
print(my_string)

We're going to learng Python in QF 625!

In [33]:
type(my_string)

str

> Make a comment to yourself and then get the length of your string.

In [34]:
# This is a comment in my code.
len(my_string)

39

>Recall that a string is just a series of characters, not a word or a sentence.

>So you can "slice" off pieces of a string based on the index of the characters in it.

>Try to slice off the last 5 characters in `my_string`

In [37]:
my_string[-5:]

' 625!'

>Convert it to lowercase.

In [38]:
my_string.lower()

"we're going to learng python in qf 625!"

>Convert it to uppercase.

In [39]:
my_string.upper()

"WE'RE GOING TO LEARNG PYTHON IN QF 625!"

> Concatenate strings. We've sort of done this above.

In [40]:
my_string + my_string

"We're going to learng Python in QF 625!We're going to learng Python in QF 625!"

In [41]:
my_string * 2

"We're going to learng Python in QF 625!We're going to learng Python in QF 625!"

In [42]:
my_string + my_string == my_string * 2

True

>Split strings.

In [48]:
my_string.split("learng")

["We're going to ", ' Python in QF 625!']

>Join a list of strings

In [49]:
"+++".join([my_string, my_string])

"We're going to learng Python in QF 625!+++We're going to learng Python in QF 625!"

>Let's remove a character--note that it's space sensitive.

In [50]:
my_string.replace(" ", "##")

"We're##going##to##learng##Python##in##QF##625!"

>Strip whitespace.

In [52]:
"  this string has whitespace  ".strip()

'this string has whitespace'

>Removes only leading whitespace characters.

In [53]:
"  this string has whitespace  ".lstrip()

'this string has whitespace  '

>Removes only trailing whitespace chars.

In [54]:
"  this string has whitespace  ".rstrip()

'  this string has whitespace'

### Here, you will `learn` how to `learn` (no pun intended)

>When you need `help remembering what methods` your variable has available.

In [55]:
dir(my_string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

>When you need `help on a specific method`.

In [56]:
help(my_string.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

###  `Debugging` Tips

- Don't panic
- read from the bottom
- learn the rules (= google the error) 
- use `print` statements in places where variables are created or changed

Remember the following line of the code?

In [57]:
string_to_fix = 'I'll use it for extracting, wrangling, managing, and analysis my data.'

SyntaxError: invalid syntax (<ipython-input-57-ae03c07c267b>, line 1)

### `Identifying ErrorName` will be a good starting point :)

| ErrorName | Example | Description (non-exhaustive) |
| --- | --- | --- |
| SyntaxError | stocks = ["AAPL", "MSFT", "GOOGL" | Forgetting to close quotes and parentheses | 
| ValueError | int("AAPL") | Assiging an inappropriate value |
| NameError | stocks = ["AAPL", "MSFT", "GOOGL"];print(stokcs) | A particular variable name is not found |

### Integers

>Let's create an integer.

In [58]:
my_integer = 25

>Print your integer.

In [59]:
print(my_integer)

25

>Let's get the type of your integer.

In [60]:
type(my_integer)

int

>Do some addition.

In [61]:
my_sum = my_integer + 10
print(my_sum)

35

>Do some subtraction.

In [62]:
my_difference = my_integer - 10
print(my_difference)

15

>Do some multiplication.

In [63]:
my_product = my_integer * 10
print(my_product)

250

>Do some division.

In [64]:
my_quotient = my_integer / 10
print(my_quotient)

2.5

### Floats

>Let's create a float, assign it a value and print it.

In [65]:
my_float = 25.345
print(my_float)

25.345

> Let's divide a float in half.

In [66]:
23.46/2

11.73

>Please divide an integer in half.

In [67]:
5/2

2.5

### Lists

> You might want to create `a variable that includes several items`, like a list of numbers. 

> For that, Python uses `lists`: surrounded by square brackets and separated by commas. 

> You might think of it as a single row in Excel.

> Each item in a Python list takes an ordered position called an index.

> You can use the integer representing the index position inside the square brackets for `indexing`.

>Now let's create a list.

In [68]:
a_list = [1, 2, 3]
print(a_list)

[1, 2, 3]

> Let's move one step further.

In [69]:
my_stock_list = ["AAPL", "MSFT", "GOOGL"]
print(my_stock_list)
print(my_stock_list[1])

['AAPL', 'MSFT', 'GOOGL']
MSFT

In [70]:
my_stock_list = ["AAPL","MSFT","GOOGL"]

> Notice what appears when we ask for list item No. 1 to be printed--it gets the second item. 

> It's important to note and remember that Python counts things starting a zero. 

> Yes, Python is zero-indexed.

> Thus, the first element in a list has an index of 0, and the second element has an index of 1, and so on.

> You may also add or delete items from a list. 

> And determine the length of the list.

In [71]:
print(len(my_stock_list))

3

In [72]:
my_stock_list.append("ZM")
print(my_stock_list)
print(len(my_stock_list))

['AAPL', 'MSFT', 'GOOGL', 'ZM']
4

Note that when we appended something, we used `parentheses`, NOT square brackets.

>When creating a list, you can use `strings`, `integers`, `variables`, and so on.

In [73]:
my_list = ["We're going to learn Python in QF 625", 90, 95, 100]

>Let's print the list.

In [74]:
print(my_list)

["We're going to learn Python in QF 625", 90, 95, 100]

In [75]:
type(my_list)

list

In [76]:
len(my_list)

4

>Create a list of numbers.

In [102]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October"]

>When you wish to print the first item in the list.

In [103]:
months[0]

'January'

>What if you wish to print the last item in the list (`negative indexing of lists`)?

In [104]:
months[-1]

'October'

>You may print all items from 4 through the end. We call this `slicing`.

>`Slicling` includes the start and up to (but NOT includuing) the end as follows:

>`mylist[StartAt:EndBefore]`

>Print the middle 4 items.

In [105]:
months[3:-3]

['April', 'May', 'June', 'July']

>Add an item to the list and see if it was added. See what's happening if you run this cell over and over again.

In [106]:
months.append(11)
print(months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 11]

>Let's delete the last item in the list.

In [107]:
del(months[-1])
months

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October']

> Slicing using negative list indexing?

> Yes, you can!

In [108]:
del(months[-4:-1])
months

['January', 'February', 'March', 'April', 'May', 'June', 'October']

> Let's print the items from the start to the penultimate.

> We can do extended slicing with lists.

In [109]:
months[4:]

['May', 'June', 'October']

In [110]:
months

['January', 'February', 'March', 'April', 'May', 'June', 'October']

In [111]:
months[:-1]

['January', 'February', 'March', 'April', 'May', 'June']

>Let's set the last value in the list to a variable.

In [112]:
last = months.pop(-1)
last

'October'

In [113]:
 months

['January', 'February', 'March', 'April', 'May', 'June']

> Slicing with `Steps` also can be done.

> Sometimes you might want to subset every other month in our list months. 

> Here's the code that will help you skip some elements when slicing a list.

> `mylist[StartAt:EndBefore:Step]`

In [114]:
months[0:6:2]

['January', 'March', 'May']

#### Lists in Lists

- As you have learned above, lists can accomodate (contain) various data types

- Lists can contain list themselves as well. We call this a `nested list`.

> Let's have a look at a nexted list describing the month and its associated consumer price index

In [115]:
cpi_nested_list = [["June", "July", "August"], [99.93, 99.5, 99.9]]

> Let's subset nested lists.

> You can also extract an element from the list you extracted. 

> To do this, you use `two indices`. 

> The first index is the position of the list, and the second index is the position of the element within the list.

In [118]:
print(cpi_nested_list[0])

['June', 'July', 'August']

In [119]:
print(cpi_nested_list[1][0])

99.93

### Methods and Functions

| Methods | Functions | 
| --- | --- |
| All methods are functions | Not all functions are methods | 
| Acts on an object `months.append()` | Requires an input of an object `type(months)` |

> List methods are a subset of built-in functions in Python.

 #### Methods specific to list
 
 - Lists have several built-in methods that can help retrieve and manipulate data
 - Methods can be accessed as `list.method()`
 - `list_sort()` sorts list elements in ascending order.

In [120]:
prices = [99.93, 99.5, 99.9]
prices.sort()
print(prices)

[99.5, 99.9, 99.93]

> Remember `list.append()`?

> `list.append()` adds a single element to a list

In [123]:
months = ["May", "June", "July"]
months.extend("August")
print(months)

['May', 'June', 'July', 'A', 'u', 'g', 'u', 's', 't']

> `list.extend()` method increases the length by the number of elements that are provided to it.

In [122]:
months.extend(["September", "October", "November", "December"])
print(months)

['May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

> `list.index(x)` returns the lowest index where the element x appears

> That is, it returns the index of a specific element.

In [127]:
months = ["June", "July", "August"]
prices = [99.93, 99.5, 99.9]

In [130]:
months.index("July")
prices.index(99.93)

0

> Now the corresponding price for July can be accesed using the index.

In [131]:
print(prices[1])

99.5

> Here are some functions that will be uesful.

> `min(list)` returns the smallest element

> `max(list` returns the largest element

> Let's find the month with largest consumer price index then.

In [132]:
months = ["June", "July", "August"]
prices = [99.93, 99.5, 99.9]

In [133]:
# Identify max price
max_price = max(prices) 

# Then, use Index method to identify the indexed location of the max_price
max_index = prices.index(max_price)

# Using the indexed location on months, you can identify the month with the maximum consumer price index.
max_month = months[max_index]
print(max_month)

June

### ***Things to be cautious!***

#### 1. Note that some words are special or reserved in Python. 

We can't name our integer variable int or our float simply float.

The same goes with the following words: 

`and`	`as`	`assert`	

`break`  

`class` `continue`	

`def`	`del`

`elif`	`else`	`except`

`False` `finally` `for`	`from`	

`global`

`if`	`import`	`in`	`is`

`lambda`	

`None`	`nonlocal`	`not`

`or`	

`pass`	

`raise`	`return`

`True`	`try`	`while`	`with`

`yield`

#### 2. ==

Note the double equal ==. 

That's the Python equivalent for a single on your calculator. 

#### 3. !=

And != is the equivalent of not equal.

#### 4. Python is an `indententation-sensitive` langauge.

And note the `indentation`--it's `four spaces`, and it's `important for Python`. 

Some text editors (Jupyter Notebook or Sublime Text, for instance) will automatically indent properly. 

But not all tabs are four spaces. So use caution!

#### 5. Capitalization of `True` and `False`

Also note the capitalization of True and False. 

And the fact that those reserved/special words show up as green.

### Booleans

> `==` equal 

> `!=` does not equal

> `>` greater than

> `<` less than

>Create two variables, assign values and compare them.

In [134]:
x = 5
y = 15

In [135]:
x == y

False

In [136]:
x != y

True

In [137]:
x > y

False

In [138]:
x >= y

False

In [139]:
x < y

True

In [140]:
x <= y

True

> Create two variables, assign one as a number and one as a string and compare them.

In [141]:
z = 10
v = "10"
z == v

False

### `if else` Statements

In [142]:
if 1 == 2:
    print(True)
else:
    print(False)

False

> Please write the following. 
> `If x is greater than y, print my_list. Otherwise, print my_dict.`

In [143]:
print(my_list)

["We're going to learn Python in QF 625", 90, 95, 100]

In [144]:
if x > y:
    for z in my_list:
        print(z)
else:
    for whatever in my_list[-3:]:
        print(whatever)

90
95
100

One other basic concept that typically combines many of these elements is a function. 

You might use a series of functions (building blocks) to achieve your programming goals. 

Here's an example of one

In [145]:
print(integers);print(floats)

5

NameError: name 'floats' is not defined

In [146]:
def sum_two_numbers(a, b):
    return a + b

sum_two_numbers(integers, floaty)

9.5

### Loops

We've done an `if/else` conditional statement.

We can also control what we're getting from files, URLs or other code by using `for` loops.

For (again, no pun intended) instance, instead of using individual print statements (tedious, especially if you misspell pring, I mean, print, all the time), you can use a loop to call each item in the list.

Here's the thinking behind a for loop in what's called pseudocode.

This is a good way to draft out what you're trying to do with your code::

for each item in the list:
- do something
- maybe another thing
- maybe more stuff even

Let's try it with my_list.

> Let's take your list or make a new one, loop through it printing out each value.

In [147]:
for name in (my_list):
    print(name)

We're going to learn Python in QF 625
90
95
100

How about a loop that prints sentences of they key and the value in person_data? 

We'll add white space, use addition, and rememer when you need quote marks.

> Again, it's a pretty straight forward concept.

In [148]:
our_list = [1, 2, 3, 4, 5, 6]
for x in our_list:
    print(x)

1
2
3
4
5
6

> **Here's something new that you can only find in review script, not on the preview script.**

> This is a kind of `an attention checker` if you go through this thoroughly :)

### Dictionaries

> Let's make a `dictionary`. 

> This creates sets of related values, with a key followed by a value for that key. 

> For dictionaries, we use curly braces.

In [149]:
person_data = {"first_name": "John", "last_name": "Doe", "middle": "Q", "city": "Singapore"}
person_data

{'first_name': 'John', 'last_name': 'Doe', 'middle': 'Q', 'city': 'Singapore'}

In [150]:
person_data["country"] =("Singapore")
person_data

{'first_name': 'John',
 'last_name': 'Doe',
 'middle': 'Q',
 'city': 'Singapore',
 'country': 'Singapore'}

In [151]:
for key in (person_data):
    print("The key is " + key + " and the value is " + person_data[key] + ".")

The key is first_name and the value is John.
The key is last_name and the value is Doe.
The key is middle and the value is Q.
The key is city and the value is Singapore.
The key is country and the value is Singapore.

### How to write `mathematical notations and formula` (A Quick Guide)

In [152]:
$$ \hat{y} = b_0 + b_1x_1 + b_2x_2 + b_3x_3 \ldots + b_nx_n + \epsilon $$

SyntaxError: invalid syntax (<ipython-input-152-13fbca95f2d5>, line 1)

$$ \hat{\beta} = (X^TX)^{-1}X^TY $$

> So, this is just a taste of Python. 

> This barely skims the surface of what you can do in Python, but hopefully this overview will make you comfortable enough to get started and to give you a sense of the language, along with how `Jupyter Notebook` is used.

> Speaking of Jupyter Notebook, note that the default autosave interval in Jupyter notebook is 120 seconds. You can change this with the `%autosave` magic command for an individual notebook like this:

In [ ]:
%autosave 120

> **One more thing to share, before you go.**

> Jupyter Notebook creates a `checkpoint` file every single time you create an .ipynb file, and then it updates the checkpoint file every single time you manually save your progress for the initial .ipynb.

> A manual save is what's done when the file is saved by clicking the Save and Checkpoint button.

> As a side note, the checkpoint file is located within a hidden folder named .ipynb_checkpoints. This folder is located within the same folder as the initial .ipynb file.

### Absolute last thing, before you go.

In [ ]:
import antigravity

>Now, let's indeed exit the program.

`Thank you for working with the script.`

In [ ]:
exit()